PUBLIC_CHAT_ENDPOINT=https://stg-n8n.mentematica.com/webhook/chat-colop
N8N_BASE_URL="https://stg-n8n.mentematica.com"
N8N_API_MASTER_KEY=""
SUPABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_ANON_KEY=""
